.places__image {
	width: 100%;
}

@media screen and (max-width: 760px) {
	.places__image {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 375px) {
	.places__image {
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 320px) {
	.places__image {
		margin-bottom: 21px;
	}
}